<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bemetoy.bp.plugin.games">

    <application
        android:allowBackup="true">

        <activity android:name=".ui.GamesUI"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|orientation"
            />
        <activity android:name=".ui.GameDetailUI"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.GameAddressUI"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.MapUI"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.PKGameDetailUI"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
